<h2 mat-dialog-title>
  Change Subject
</h2>
<form
  [formGroup]="form"
  class="change__subject__form"
>

  <mat-form-field appearance="fill" class="field">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      formControlName="title"
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Subtitle</mat-label>
    <input
      matInput
      type="text"
      formControlName="subtitle"
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input
      matInput
      type="color"
      formControlName="color"
    >
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button
      type="button"
      mat-button
      color="accent"
      (click)="onCancelClose()"
    >
      Cancel
    </button>

    <button
      type="submit"
      mat-button
      color="primary"
      (click)="onAddClose()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
