<h2 mat-dialog-title>
  {{isEdit? 'Edit' : 'Add'}} Subject
</h2>
<form
  [formGroup]="form"
  class="add__subject__form"
>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      formControlName="title"
    >
    <mat-error>
      Required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Subtitle</mat-label>
    <input
      matInput
      type="text"
      formControlName="subtitle"
    >
    <mat-error>
      Required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input
      matInput
      type="color"
      formControlName="color"
    >
    <mat-error>
      Required
    </mat-error>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button
      type="button"
      mat-button
      color="accent"
      (click)="onCancelClose()"
    >
      Cancel
    </button>

    <button
      type="submit"
      mat-button
      color="primary"
      [disabled]="(isSame$ | async) || form.invalid"
      (click)="onAddClose()"
    >
      {{isEdit? 'Update' : 'Save'}}
    </button>
  </mat-dialog-actions>
</form>
