.line {
  border: 2px solid grey;
}

.card {
  position: relative;
}

.delete__button {
  position: absolute;
  top: 0;
  right: 0;
}

.change__button {
  position:absolute;
  bottom: 0;
  right: 0;
  color:"accent";
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  font-size: 14px;
}
