<ds-card
  [dsTitle]="dsSchedule.title"
  [dsSubtitle]="dsSchedule.subtitle"
  class="card"
>
  <hr
    class="line"
    [ngStyle]="{borderColor: dsSchedule.color}"
  >
  <button
    class="delete__button"
    mat-icon-button
    (click)="deleteSchedule()"
  >
    <mat-icon class="delete__icon">
      close
    </mat-icon>
  </button>
  <button
    class="change__button"
    mat-stroked-button
    (click)="changeSchedule()"
  >
  <mat-icon>
    edit
  </mat-icon>
    Change
  </button>
</ds-card>
