.line {
  border: 2px solid grey;
}

.card {
  position: relative;
}

.delete__button {
  position: absolute;
  top: 0;
  right: 0;
}

.change__button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
}
