@import 'breakpoints';

:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card {
  display: flex;
  padding: 10px;
  width: 80%;
  height: auto;
  flex-direction: column;
  background-color: var(--white);

  @media screen and(min-width:$screen-md-min) {
    width: 30%;
    max-width: 400px;
  }
}