/* You can add global styles to this file, and also import other style files */
:root {
    --gap: 20px;
}

* {
    box-sizing: border-box;
}

$primary: #485460;
$accent: #0be881;

html,
body {
    width: 100vw;
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}